body
        {
           background: url(../Images/3.jpg) no-repeat center center, url(../Images/fondo.jpg) repeat; 
           -webkit-background-size: contain ;
           -moz-background-size: contain;
           -o-background-size: contain;
            background-size: contain;

        }
        
     
        
@media (max-width: 1000px) {
    .center{}
    .center-inner{left:25%;top:55%;position:absolute;width:50%;height:200px;text-align:center;max-width:400px;max-height:200px;}
}
@media (min-width: 1000px) and (max-width:1300px) {
    .center{left:50%;top:50%;position:absolute;}
    .center-inner{width:400px;height:100%;margin-left:-250px;height:200px;text-align:center;max-width:400px;max-height:200px;}
}
@media (min-width: 1300px) {
    .center{left:55%;top:60%;position:absolute;}
    .center-inner{width:400px;height:100%;margin-left:-250px;height:200px;text-align:center;max-width:400px;max-height:200px;}
}

.login-form {
    
           //margin-left: -200px;
           // width: 400px;
           // height: 200px;
           // position: fixed;
           // top: 50%;
            //background-color: #ffffff;
            border-style: solid;
            border-color: #1D2333;
            margin-top: -150px;
            opacity: 0;
            -webkit-transform: scale(.8);
            transform: scale(.8);
        }
        
        .dialogoBackground
        {
            background: url(../Images/fondo.jpg);
            background-size: cover;
        }
        
        label{
            color:#1D2333;
            font-weight: bold;
        }
        .mif-user prepend-icon
        {
            color:#D02921;
        }
        
        input[type=text],input[type=password]
        {          
             border-radius: 5px;
            -moz-border-radius: 15px;
            -khtml-border-radius: 15px;
            -webkit-border-radius: 15px;
        }
        
        #dialog
        {
            border-style: solid;
            border-color: #1D2333;
            
        }
        